@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-dark: #040404;
    --color-primary:#C1FF72;
    --color-pro:#5CE1E6;
    --color-secondary:#00BF63;
    --background-dark:#0a0a0a;
    --color-light:#fff;
    --border-raduis-primary:50px;
    --font-family:"Poppins", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: var(--color-dark);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#header-main{
    width: 90%;
    margin: 20px;
    border-radius: calc(var(--border-raduis-primary) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.img{
    width: 170px;
}
.buttons > button{
    padding: 8px 15px;
    border: .5px solid var(--color-primary);
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: calc(var(--border-raduis-primary)/4);
    cursor: pointer;
    transition: .7s;
    margin: 3px;
}
#login{
    border: 1px solid var(--color-light);
    color: var(--color-pro);
}
#login:hover{
    transform: translateY(10px);
    border: 1px solid var(--color-light);
    color: var(--color-light);
}
#singin{
    color:var(--color-light);
    border: 1px solid var(--color-pro);
    background: #5ce1e671;
}
#singin:hover{
    transform: translateX(10px);
    background: transparent;
}
#section-one {
    position: relative;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    border-radius: 30px;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 30px;
    z-index: 1;
}
.content{
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    height: 0;
    background: #0a0a0a;
    z-index: 99;
    display: flex;
    color: #00BF63;
}
.left{
    width: 100%;
    height: 500px;
    background:linear-gradient(90deg , #040404 , rgba(0, 0, 0, 0.055)),
    linear-gradient(0deg , #040404 , rgba(0, 0, 0, 0.055)),
    linear-gradient(190deg , #04040400 , rgba(0, 0, 0, 0.055));
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}
.wrapper-left{
    width: 50%;
    height: 500px;
    display: flex;
    text-align: right;
    align-items: center;
}
.wrapper-right{
    width: 50%;
    height: 500px;
    text-align: left;
    padding: 30px;
}
#title-main{
    font-size: 40px;
    font-weight: 900;
    max-width: 300px;
    text-transform: uppercase;
    color: #bebebe;
    padding-top: 30px;
}
#title-main::first-letter{
    color: #5CE1E6;
    text-shadow: 0 0 10px var(--color-pro);
}
#title-main >span{
    color: #5CE1E6;
    text-shadow: 0 0 10px var(--color-pro);
}
#title-main > em {
    color: var(--color-light);
}
.wrapper-right > h2{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0.8;
}
.wrapper-right > h2 > em{
    color: #9c9797;
}
@media screen and (max-width:800px){
    .wrapper-left{
        display: none;
    }
    .wrapper-right{
        width: 100%;
    }
}
#section-account{
    position: fixed;
    width: 70%;
    height: 500px;
    top: 40px;
    margin: 0 auto;
    background: var(--background-dark);
    z-index: 999;
    border-radius: calc(var(--border-raduis-primary) /2);
    box-shadow: 4px 4px 15px rgb(28, 28, 28);
    display: none;
}
.header-account{
    background: #040404;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.img-close{
    width: 40px;
    text-align: right;
    cursor: pointer;
    transition: .6s;
    padding: 10px;
    border: 1px solid var(--color-pro);
    border-top-right-radius:calc( var(--border-raduis-primary) /2);
}
.img-close:hover{
    transform: scale(1.1);
}
.form-singin{
    width: 50%;
}
.form-login{
    width: 50%;
    background: #222;
    height: 455px;
    border-bottom-left-radius:calc( var(--border-raduis-primary) /2);
    padding: 10px;
    text-align: center;
}
.form-login > h1{
    color: #5CE1E6;
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px 5px;
}
.logo{
    width: 100px;
}
.form-login-content{
    color: white;
    max-width: 80%;
    text-align: left;
    margin: 0 auto;
}
.form-login-content > label{
    font-size: 14px;
    color: var(--color-light);
}
.form-login-content > input{
    padding: 15px 20px;
    border-radius: calc(var(--border-raduis-primary)/4);
    width: 100%;
    border: none;
}
.form-login-content >a{
    font-size: 12px;
    color: gray;
    transition: .5s;
}
.form-login-content >a:hover{
    color: white;
}
#about{
    border: none;
    border-left: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
}
#about:hover{
    border-color: var(--color-light);
    color: var(--color-secondary);
    text-shadow: 0 0 10px var(--color-secondary);
}